<!DOCTYPE html>
<html lang="en">
<head>
	
	<!--
		Basic
	-->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<title>Matthew Fisher - Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="vCard & Resume Template" />
	<meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cards, portfolio" />
	<meta name="author" content="beshleyua" />
	
	<!--
		Load Fonts
	-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	
	<!--
		Load CSS
	-->
	<link rel="stylesheet" href="css/basic.css" />
	<link rel="stylesheet" href="css/layout.css" />
	<link rel="stylesheet" href="css/blogs.css" />
	<link rel="stylesheet" href="css/ionicons.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/animate.css" />
	
	<!--
		Template Colors
	-->
	<!-- <link rel="stylesheet" href="css/template-colors/green.css" /> -->
	<link rel="stylesheet" href="css/template-colors/blue.css" />
	<!-- <link rel="stylesheet" href="css/template-colors/orange.css" /> -->
	<!--<link rel="stylesheet" href="css/template-colors/pink.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/purple.css" />-->
	<!-- <link rel="stylesheet" href="css/template-colors/red.css" /> -->
	
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--
		Favicons
	-->
	<link rel="shortcut icon" href="images/favicons/favicon.png">
	
</head>

<body>
	<div class="page">
		
		<!-- preloader -->
		<div class="preloader">
			<div class="centrize full-width">
				<div class="vertical-center">
					<div class="spinner">
						<div class="double-bounce1"></div>
						<div class="double-bounce2"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- background -->
		<div class="background"></div>

		<!--
			Container
		-->
		<div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">

			<!--
				Header
			-->
			<header class="header">

				<!-- menu -->
				<div class="top-menu">
					<ul>
						<li class="active">
							<a href="#about-card">
								<span class="icon ion-person"></span>
								<span class="link">About</span>
							</a>
						</li>
						<li>
							<a href="#resume-card">
								<span class="icon ion-android-list"></span>
								<span class="link">Resume</span>
							</a>
						</li>
						<li>
							<a href="#works-card">
								<span class="icon ion-paintbrush"></span>
								<span class="link">Works</span>
							</a>
						</li>
						<!-- <li>
							<a href="#blog-card">
								<span class="icon ion-chatbox-working"></span>
								<span class="link">Blog</span>
							</a>
						</li> -->
						<li>
							<a href="#contacts-card">
								<span class="icon ion-at"></span>
								<span class="link">Contact</span>
							</a>
						</li>
					</ul>
				</div>

			</header>

			<!--
				Card - Started
			-->
			<div class="card-started" id="home-card">

				<!--
					Profile
				-->
				<div class="profile">

					<!-- profile image -->
					<div class="slide" style="background-image: url(images/images.jpeg);"></div>

					<!-- profile photo -->
					<div class="image">
						<img src="images/Headshot.jpg" alt="" />
					</div>

					<!-- profile titles -->
					<div class="title">Matthew Fisher</div>
					<div class="subtitle">Full Stack Software Engineer</div>

					<!-- profile socials -->
					<div class="social">
						<a target="_blank" href="https://github.com/MicroFish91"><span class="fab fa-github"></span></a>
						<a target="_blank" href="https://www.linkedin.com/in/mwfisher91/"><span class="fab fa-linkedin"></span></a>
						<!-- <a target="_blank" href="https://medium.com/@mwfisher91"><span class="fab fa-medium"></span></a> -->
					</div>
					
					<!-- profile buttons -->
					<div class="lnks">
						<a href="resume/Resume.pdf" download class="lnk">
							<span class="text">Download CV</span>
							<span class="ion ion-archive"></span>
						</a>
						<a href="#" class="lnk discover">
							<span class="text">Contact Me</span>
							<span class="arrow"></span>
						</a>
					</div>

				</div>

			</div>

			<!-- 
				Card - About
			-->
			<div class="card-inner animated active" id="about-card">
				<div class="card-wrap">

					<!-- 
						About 
					-->
					<div class="content about">

						<!-- title -->
						<div class="title">About Me</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="text-box">
									<p>
										
Hi, my name is Matt, nice to meet you! <br><br>  

I'm a full stack software developer living in Houston, TX. I spent my grade school years as an army brat in Seoul, Korea. I eventually attended the University of Texas where I earned a degree in Electrical and Computer Engineering. <br><br>

I realized my passion for coding after working at my previous job at Toshiba.  While there, I coded a comprehensive design program which led to my eventual decision to shift careers. I am currently attending DigitalCrafts full-time immersive coding bootcamp and am on track to finish by October 2018.  I hope to be able to start this next phase of my life in full-stride. <br><br>

During my free time, I enjoy producing electronic music in my home studio, dancing at local Houston shows, and gaming online with friends. Ask me about any of these things and I'm likely to talk your ear off!
									</p>
								</div>
								<div class="info-list">
									<ul>
										
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

					<!--
						Services
					-->
					<div class="content services">

						<!-- title
						<div class="title">My Services</div> -->

						<!-- content -->
						<div class="row service-items border-line-v">

							<!-- service item -->
							<!-- <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon"><span class="ion ion-code"></span></div>
									<div class="name">Web Development</div>
									<p>
										Modern and mobile-ready website that will help you 
										reach all of your marketing.
									</p>
								</div>
							</div> -->

							<!-- service item -->
							<!-- <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon"><span class="ion ion-music-note"></span></div>
									<div class="name">Music Writing</div>
									<p>
										Music copying, transcription, arranging and composition services.
									</p>
								</div>
							</div> -->

							<!-- service item -->
							<!-- <div class="col col-d-6 col-t-6 col-m-12">
								<div class="service-item">
									<div class="icon"><span class="ion ion-speakerphone"></span></div>
									<div class="name">Advetising</div>
									<p>
										Advertising services include television, radio, print, mail and web.
									</p>
								</div>
							</div> -->

							<!-- service item -->
							<!-- <div class="col col-d-6 col-t-6 col-m-12">
								<div class="service-item">
									<div class="icon"><span class="ion ion-ios-game-controller-b"></span></div>
									<div class="name">Game Development</div>
									<p>
										Developing memorable and unique mobile android, ios games.
									</p>
								</div>
							</div> -->

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Price Tables
					-->
					<div class="content pricing">

						<!-- title -->
						<!-- <div class="title">Pricing</div> -->

						<!-- content -->
						<div class="row pricing-items">

							<!-- pricing item -->
							<!-- <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="pricing-item">
									<div class="icon"><i class="ion ion-speedometer speed-basic"></i></div>
									<div class="name">Basic</div>
									<div class="amount">
										<span class="dollar">$</span>
										<span class="number">22</span>
										<span class="period">hour</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Web Development</li>
											<li>Advetising</li>
											<li>Game Development</li>
											<li class="disable">Music Writing</li>
											<li class="disable">Photography <strong>new</strong></li>
										</ul>
									</div>
									<div class="lnks">
										<a href="#" class="lnk">
											<span class="text">Buy Basic</span>
											<i class="ion ion-speedometer speed-basic"></i>
										</a>
									</div>
								</div>
							</div> -->

							<!-- pricing item -->
							<!-- <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="pricing-item">
									<div class="icon"><i class="ion ion-speedometer"></i></div>
									<div class="name">Pro</div>
									<div class="amount">
										<span class="dollar">$</span>
										<span class="number">48</span>
										<span class="period">hour</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Web Development</li>
											<li>Advetising</li>
											<li>Game Development</li>
											<li>Music Writing</li>
											<li>Photography <strong>new</strong></li>
										</ul>
									</div>
									<div class="lnks">
										<a href="#" class="lnk">
											<span class="text">Buy Pro</span>
											<i class="ion ion-speedometer"></i>
										</a>
									</div>
								</div>
							</div> -->

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Fun Fact
					-->
					<div class="content fuct">

						<!-- title -->
						<!-- <div class="title">Fun Fact</div> -->

						<!-- content -->
						<div class="row fuct-items">

							<!-- fuct item -->
							<!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="ion ion-disc"></span></div>
									<div class="name">80 Albumes Listened</div>
								</div>
							</div> -->

							<!-- fuct item -->
							<!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="ion ion-trophy"></span></div>
									<div class="name">15 Awards Won</div>
								</div>
							</div> -->

							<!-- fuct item -->
							<!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="ion ion-coffee"></span></div>
									<div class="name">1 000 Cups of coffee</div>
								</div>
							</div> -->

							<!-- fuct item -->
							<!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="ion ion-flag"></span></div>
									<div class="name">10 Countries Visited</div>
								</div>
							</div> -->

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Clients
					-->
					<div class="content clients">

						<!-- title -->
						<!-- <div class="title">Clients</div> -->

						<!-- content -->
						<div class="row client-items">

							<!-- client item -->
							<!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
										<a target="_blank" href="https://www.google.com">
											<img src="images/clients/client_1.png" alt="" />
										</a>
									</div>
								</div>
							</div> -->

							<!-- client item -->
							<!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
										<a target="_blank" href="https://www.google.com">
											<img src="images/clients/client_2.png" alt="" />
										</a>
									</div>
								</div>
							</div> -->

							<!-- client item -->
							<!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
										<a target="_blank" href="https://www.google.com">
											<img src="images/clients/client_3.png" alt="" />
										</a>
									</div>
								</div>
							</div> -->

							<!-- client item -->
							<!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
										<a target="_blank" href="https://www.google.com">
											<img src="images/clients/client_4.png" alt="" />
										</a>
									</div>
								</div>
							</div> -->

							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

			<!--
				Card - Resume
			-->
			<div class="card-inner" id="resume-card">
				<div class="card-wrap">

					<!--
						Resume
					-->
					<div class="content resume">

						<!-- title -->
						<div class="title">Resume</div>

						<!-- content -->
						<div class="row">

							<!-- experience -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="ion ion-briefcase"></i></div>
									<div class="name">Experience</div>
								</div>
								<div class="resume-items">
									<div class="resume-item border-line-h active">
										<div class="date">June 2018 - Present</div>
										<div class="name">Full Stack Web Developer</div>
										<div class="company">DigitalCrafts</div>
										<p>
											Four month intensive, full-time accelerated learning program
										</p>
									</div>
								
									<div class="resume-item">
										<div class="date">June 2013 - May 2018</div>
										<div class="name">Electrical Design & Compliance Engineer</div>
										<div class="company">Toshiba International Corporation</div>
										<p>
											Electrical Engineer for Toshiba's three-phase induction motor design group
										</p>
									</div>
								</div>
							</div>

							<!-- education -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="ion ion-university"></i></div>
									<div class="name">Education</div>
								</div>
								<div class="resume-items">
									<div class="resume-item border-line-h">
										<div class="date">August 2009 - May 2013</div>
										<div class="name">Bachelor’s Degree, Electrical & Computer Engineering</div>
										<div class="company">University of Texas at Austin</div>
										<p>
											
										</p>
									</div>
									<!-- <div class="resume-item border-line-h"> -->
										<!-- <div class="date">2005 - 2006</div>
										<div class="name">Programming Course</div>
										<div class="company">Paris</div>
										<p>
											Coursework - Git, WordPress, Javascript, iOS, Android.
										</p> -->
									<!-- </div> -->
									<!-- <div class="resume-item"> -->
										<!-- <div class="date">2004 - 2005</div>
										<div class="name">Web Design Course</div>
										<div class="company">London</div>
										<p>
											Converted Photoshop layouts to web pages using HTML, CSS, and JavaScript
										</p> -->
									<!-- </div> -->
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Skills
					-->
					<div class="content skills">

						<!-- title -->
						<div class="title">My Skills</div>

						<!-- content -->
						<div class="row">

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list" style="margin-top: -8%;">
									<!-- <div class="skill-title border-line-h">
										<div class="icon"><i class="ion ion-code"></i></div>
										<div class="name">Coding</div>
									</div> -->
									<ul>
										<li class="border-line-h"> 
											<div class="name">HTML</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Python</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">JavaScript</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Node.js</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">React.js</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Sequelize.js</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Passport.js</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Git</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Amazon Web Services</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Bash Scripting</div>
										</li>						
									</ul>
								</div>
							</div>

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list" style="margin-top: -8%;">
									<!-- <div class="skill-title border-line-h">
										<br>
									</div> -->
									<ul>
										<li class="border-line-h"> 
											<div class="name">CSS / Bootstrap</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Visual Basic</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">jQuery</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Express.js</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Redux.js</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">PostgreSQL</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">OAuth 2.0</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">GitHub</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">Visual Studio Code</div>
										</li>
									</ul>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

			<!--
				Card - Works
			-->
			<div class="card-inner" id="works-card">
				<div class="card-wrap">

					<!--
						Works
					-->
					<div class="content works">

						<!-- title -->
						<div class="title">Portfolio</div>

						<!-- filters -->
						<!-- <div class="filter-menu filter-button-group">
							<div class="f_btn active">
								<label><input type="radio" name="fl_radio" value="grid-item" />All</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="photo" />Photo</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="video" />Video</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="music" />Music</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="design" />Design</label>
							</div>
						</div> -->

						<!-- content -->
						<div class="row grid-items border-line-v">

							<!-- Beer Bud -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="#popup-1" class="has-popup-media">
												<img src="images/Beer Bud.png" alt="" />
												<span class="info">
													<span class="ion ion-images"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href="#popup-1" class="name has-popup-media">Beer Bud</a>
											<div class="category">Beer Tap Control and Event Monitoring</div>
										</div>
										<div id="popup-1" class="popup-box mfp-fade mfp-hide">
											<div class="content">
												<div class="image">
													<img src="images/Beer Bud.png" alt="">
												</div>
												<div class="desc">
													<div class="post-box">
														<h1>Beer Bud</h1>						
														<div class="blog-detail">Full Stack Web Application with Embedded Flow Hardware<br> October 2018</div>
														<div class="blog-content">
															<p>
																	Beer Bud is a full-stack web application for Timbergrove Co. used to automate beer distributed at local events.
															</p>
															<p>
																	Using embedded systems logic connected to a flow meter, transmits information through IBM Watson IoT to our full-stack web application where users have access to various privileges related to beer tap control and event monitoring.
															</p>
															<p>
																	Due to the proprietary nature of company software, the GitHub code for this project is not available for preview.
															</p>
															<p><i>
																	<u>Technologies Employed</u><br> HTML, CSS, Bootstrap, JavaScript, C++, Node.js, Express.js, React.js, Redux.js, Redux Thunk, PostgreSQL, MongoDB (deprecated), Sequelize.js, Passport.js, Node Scheduler, Web Sockets, IBM Watson IoT
															</i></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							<!-- Portfolio Instruments -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="#popup-2" class="has-popup-media">
												<img src="images/Portfolio Instruments.png" alt="" />
												<span class="info">
													<span class="ion ion-images"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href="#popup-2" class="name has-popup-media">Portfolio Instruments</a>
											<div class="category">Passive Investment Portfolio Manager</div>
										</div>
										<div id="popup-2" class="popup-box mfp-fade mfp-hide">
											<div class="content">
												<div class="image">
													<img src="images/Portfolio Instruments.png" alt="">
												</div>
												<div class="desc">
													<div class="post-box">
														<h1>Portfolio Instruments (In Progress)	</h1>						
														<div class="blog-detail">Full Stack Web Application <br> October 2018</div>
														<div class="blog-content">
															<p>
																	Portfolio Instruments is a full-stack web application designed to help users manage their passive investments from start to finish.
															</p>
															<p>
																	Portfolio Instruments is designed to be useful to both beginners and advanced investors alike, allowing for full-portfolio investment tracking and rebalance suggestions through the intuitive portfolio wizard.  Investments are tracked using a back-end PostgreSQL database and back-end node server.  The front-end is compiled using React/Redux and features secure login capabilities.
															</p>
															<p><i>
																	<u>Technologies Employed</u><br> HTML, CSS, Bootstrap, JavaScript, Node.js, Express.js, React.js, Redux.js, Redux Thunk, PostgreSQL, Sequelize.js, Passport.js, Chart.js, Heroku, Surge
															</i></p>
	
															<iframe width="560" height="315" src="https://www.youtube.com/embed/A9sfTssVGz8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	
															<br>
															<br>
	
														</div>
														<a href="www.portfolioinstruments.com" class="button" target="_blank">
															<span class="text">Live Project</span>
															<span class="arrow"></span>
														</a>
														
														<a href="https://github.com/MicroFish91/Portfolio-Instruments" class="button" target="_blank" style="text-indent: 10%">
															<span class="text">GitHub Code</span>
															<span class="arrow"></span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							<!-- Digital Director -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="#popup-3" class="has-popup-media">
											<img src="images/digital director.png" alt="" />
											<span class="info">
												<span class="ion ion-images"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="#popup-3" class="name has-popup-media">Digital Director</a>
										<div class="category">Data Managing Software</div>
									</div>
									<div id="popup-3" class="popup-box mfp-fade mfp-hide">
										<div class="content">
											<div class="image">
												<img src="images/digital director.png" alt="">
											</div>
											<div class="desc">
												<div class="post-box">
													<h1>Digital Director</h1>						
													<div class="blog-detail">Full Stack Web Application <br> September 2018</div>
													<div class="blog-content">
														<p>
																Digital Director is a full stack web application built to help teachers manage their after school programs.
														</p>
														<p>
																The application connects a back-end server & database to a convenient and intuitive front-end UI which assists the user in tracking student information, inventory, & calendar events.
														</p>
														<p><i>
																<u>Technologies Employed</u><br> HTML, CSS, Bootstrap, jQuery, JavaScript, MindFusion’s calendar API, Node.js, Express.js, Sequelize.js, PostgreSQL, Passport.js, OAuth 2.0 for Google API, & AWS
														</i></p>

														<iframe width="560" height="315" src="https://www.youtube.com/embed/zb3hVICzzCk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

														<br>
														<br>

													</div>
													<a href="http://digitaldirector.org" class="button" target="_blank">
														<span class="text">Live Project</span>
														<span class="arrow"></span>
													</a>
													
													<a href="https://github.com/MicroFish91/Digital-Director" class="button" target="_blank" style="text-indent: 10%">
														<span class="text">GitHub Code</span>
														<span class="arrow"></span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Foogle -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="#popup-4" class="has-popup-media">
												<img src="images/foogle.png" alt="" />
												<span class="info">
													<span class="ion ion-images"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href="#popup-4" class="name has-popup-media">Foogle</a>
											<div class="category">Recipe Search Engine</div>
										</div>
										<div id="popup-4" class="popup-box mfp-fade mfp-hide">
											<div class="content">
												<div class="image">
													<img src="images/foogle.png" alt="">
												</div>
												<div class="desc">
													<div class="post-box">
														<h1>Foogle</h1>						
														<div class="blog-detail">Front-End Web Application <br> August 2018</div>
														<div class="blog-content">
															<p>
																
															</p>
															<p>
																	Front-end API-driven recipe search engine that allows the user to bookmark detailed custom recipe pages via local storage.
															</p>
															<p>
																	Each page features ability to customize ingredients lists while obtaining real-time pricing and nutrient breakdown updates.
															</p>
															<p><i>
																	<u>Technologies Employed</u><br> HTML, CSS, Bootstrap, jQuery, JavaScript, Recipe & USDA APIs, FreshDirect Web Scraping, & AWS
															</i></p>

															<iframe width="75%" height="270" src="https://www.youtube.com/embed/bvVTjf4jlvs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

															<br>
															<br>

														</div>

														<a href="http://fooglefoods.com/" class="button" target="_blank">
															<span class="text">Live Project</span>
															<span class="arrow"></span>
														</a>
														
														<a href="https://github.com/MicroFish91/Foogle" class="button" target="_blank" style="text-indent: 10%">
															<span class="text">GitHub Code</span>
															<span class="arrow"></span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							
							<!-- JMZ Design Software -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="#popup-5" class="has-popup-media">
												<img src="images/Toshiba.jpg" alt="" />
												<span class="info">
													<span class="ion ion-images"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href="#popup-5" class="name has-popup-media">JMZ</a>
											<div class="category">Stator Design Software</div>
										</div>
										<div id="popup-5" class="popup-box mfp-fade mfp-hide">
											<div class="content">
												<div class="image">
													<img src="images/stator.jpg" alt="">
												</div>
												<div class="desc">
													<div class="post-box">
														<h1>JMZ Design Program</h1>						
														<div class="blog-detail">Comprehensive Stator Design Software <br> May 2017 - May 2018</div>
														<div class="blog-content">
															<p>
																	Lead programmer for Toshiba's comprehensive low and medium voltage (up to 6 kV) stator design program.  The JMZ design program is used as the backbone for all custom stator designs that go through Toshiba’s Houston Motor Plant.  
															</p>
															<blockquote>
																	The JMZ design program is used as the backbone for <u>all custom stator designs</u> that go through Toshiba’s Houston Motor Plant
															</blockquote>
															<p> The JMZ design program completely standardizes the motor design process.  The program also introduces the use of a comprehensive motor design database.  Using inputs from the designer, the program pulls associated data from the database and applies relevant mathematical formulas to completely generate a customized bill of material set that uploads and configures into Oracle’s EBS application.  The program also auto-generates standardized shop floor-ready custom design output sheets upon successful run.
															</p>
															<p> 
															The introduction of the program has more than halved the normal custom design time required by engineers and has eliminated many sources of human error.
															</p>
															<p>
															The program has received multiple in-company awards related to quality and innovation and continues to be used at TIC.
															</p>

															<p>
																Due to the proprietary nature of company software, the code and live demo features are unavailable for viewing.
															</p>
														
															<p><i>
																	<u>Technologies Employed</u><br> Visual Basic & Oracle's powerful scripting software, Dataload with PHP
															</i></p>

														</div>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

			<!--
				Card - Blog
			-->
			

			<!--
				Card - Contacts
			-->
			<div class="card-inner contacts" id="contacts-card">
				<div class="card-wrap">

					<!--
						Conacts Info
					-->
					<div class="content contacts">

						<!-- content -->
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">

								<h2><b><u>Contact Info</u></b></h2>
									
								<ul>
									<li><strong>Name:  </strong> Matthew Fisher</li>
									<li><strong>Position:  </strong> Full Stack Software Engineer</li>
									<li><strong>Email: </strong> mwfisher91@gmail.com</li>
									<br>
									<li><strong>LinkedIn: </strong>https://www.linkedin.com/in/mwfisher91/</li>
									<li><strong>GitHub:  </strong>https://github.com/MicroFish91</li>
								</ul>

								</div>



							</div>
							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
	
	<!--
		jQuery Scripts
	-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/jquery.magnific-popup.js"></script>
	<script src="js/imagesloaded.pkgd.js"></script>
	<script src="js/masonry.pkgd.js"></script>
	<script src="js/masonry-filter.js"></script>
	<script src="js/jquery.slimscroll.js"></script>
	
	<!--
		Google map api
	-->
	<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
	
	<!--
		Main Scripts
	-->
	<script src="js/scripts.js"></script>
	
</body>
</html>